@use './assets/sass/_config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    @include config.font-paragraf;
    widht: 100%;
    height: 100vh;
    font-size: 18px;
}
.webview{
    width: 100%;
    margin: auto;

    .intro{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vw;
        background-color:config.$color-white;
        color: config.$color-green;

        .container{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}