@use './assets/sass/_config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    @include config.font-paragraf;
    widht: 100%;
    height: 100vh;
    font-size: 18px;
}